[Unit]
Description=Smart devices Azan

Wants=network-online.target systemd-networkd-wait-online.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
Restart=always
RestartSec=1s
ExecStart=/opt/Automated-Azan/execute_azan_on_google_home_devices.py

[Install]
WantedBy=multi-user.target
