[Unit]
Description=Smart devices Azan

Wants=network-online.target systemd-networkd-wait-online.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
WorkingDirectory=/opt/Automated-Azan/
ExecStart=pipenv run /opt/Automated-Azan/execute_azan_on_google_home_devices.py
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
