[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
astroid = ">=2.11.2"
casttube = ">=0.2.1"
certifi = ">=2021.10.8"
charset-normalizer = ">=2.0.12"
colorama = ">=0.4.4"
dill = ">=0.3.4"
distlib = ">=0.3.4"
filelock = ">=3.6.0"
idna = ">=3.3"
ifaddr = ">=0.1.7"
isort = ">=5.10.1"
joblib = ">=1.1.0"
lazy-object-proxy = ">=1.7.1"
mccabe = ">=0.7.0"
pause = ">=0.3"
platformdirs = ">=2.5.1"
protobuf = ">=3.20.0"
pychromecast = "==14.0.5"
python-dateutil = ">=2.8.2"
requests = ">=2.27.1"
schedule = ">=1.1.0"
six = ">=1.16.0"
tomli = ">=2.0.1"
urllib3 = ">=1.26.9"
virtualenv = ">=20.14.0"
wrapt = ">=1.14.0"
zeroconf = ">=0.38.4"
pyinstaller = ">=4.10"
pyinstaller-hooks-contrib = ">=2022.3"
pywin32-ctypes = ">=0.2.0"
pipenv-shebang = "*"
pipfile = "*"
beautifulsoup4 = "*"
selenium = "*"
webdriver-manager = "*"
chromedriver-autoinstaller = "*"

[dev-packages]

[requires]
python_version = "3.11"
